

    <div class="search-container">
        <div class="container">
            <!-- Form -->
            <form>
                <div class="col-lg-2">
                    <div class="">

                        <a href="index.html">
                            <br />
                            <img src="../images/logo-1.png" alt="logo"
                                 style="margin: 0;
                                                padding: 0;
                                                display: block;
                                                max-width: 100% !important;
                                                float: left;">
                        </a>
                    </div>

                </div>
                <div class="col-lg-10">
                    <!-- Search Input -->
                    <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
                        <div class="form-group">
                            <input type="text" class="form-control banner-icon-search" name="keyword" placeholder="What are you looking for ?" value="">
                        </div>
                    </div>
                    <!-- Search Category -->
                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                        <div class="form-group">
                            <select class="category form-control">
                                <option label="Select Option"></option>
                                <option value="0">Cars & Bikes</option>
                                <option value="1">Mobile Phones</option>
                                <option value="2">Home Appliances</option>
                                <option value="3">Clothing</option>
                                <option value="4">Human Resource</option>
                                <option value="5">Information Technology</option>
                                <option value="6">Marketing</option>
                                <option value="7">Others</option>
                                <option value="8">Sales</option>
                            </select>
                        </div>
                    </div>
                    <!-- Search Location -->
                    <div class="col-md-3 col-sm-9 col-xs-12 no-padding">
                        <div class="form-group">
                            <select class="cities form-control">
                                <option value="0">SriLanka</option>
                                <option value="1">Australia</option>
                                <option value="2">Bahrain</option>
                                <option value="3">Canada</option>
                                <option value="4">Denmark</option>
                                <option value="5">Germany</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12 no-padding">
                        <div class="form-group form-action">
                            <button type="button" class="btn btn-theme btn-search-submit">Search</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

